<link rel="stylesheet" href="/stylesheets/footer.css">

<footer>
    
    <nav class="formas-pagamento">
        <div> FORMAS DE PAGAMENTO</div>
        <img src="/images/footer/cartao.svg" alt="Tipos de Pagamento">
    </nav>

    <nav class="contato">

        <h2> CONTATO</h2>
        <img src="/images/footer/fone.svg" alt="Telefone">
        <div>55 11 40002-8922</div>
        <div>Seg a Sab 8h ás 18h</div>
        <img src="/images/footer/email.svg" alt="E-mail">
        <div>vinilcountdown@me.com</div>
        <div>CNPJ: 27.110.397/0001-20</div>
     
    </nav>

    <nav class = "redes-sociais">
        <div> REDES SOCIAIS</div>
        <img src="/images/footer/redesSociais.svg" alt="Redes Sociais">
    </nav>

    <nav class = "newsletter">
        <h2> NEWSLETTER</h2>
        <form action="">
            <div class="newsInput">
                <i><a href=""><img src="" alt=""><img src="/images/footer/emailEnvio.svg" alt="E-mail Envio"></a></i>
                <input type="text" name="newsletter" id="newsletter" placeholder="Digite seu e-mail..">
                <label for="newsletter"></label>
        </div>
        </form>

        <h5>Assine nossa newsletter para receber promoções e lançamentos.</h5>
    </nav>




</footer>