    
    <!--CSS HEADER-->
    <link rel="stylesheet" href="/stylesheets/header.css">

    <!--Inclusao HTML HEADER-->
    <body>
        <header>
            <div id="container">
                <div class="logo">
                    <a href="/index"><img src="/images/header/logo-temp.png" alt="Logo"></a>
                </div>

                <ul>
                    <li><a href="/produtos">Produtos</a></li>
                    <li><a href="/sobre_nos">Sobre nós</a></li>
                    <li><a href="/minha_conta">Minha Conta</a></li>
                    <!-- <li><a href="/views_redirect">Views Temp</a></li> -->
                </ul>

                <form action="">
                    <div class="searchInput">
                        <i><a href=""><img src="/images/header/lupa 1.svg" alt=""></a></i>
                        <input type="text" name="search" id="search" placeholder="O que você está procurando?">
                        <label for="search"></label>
                    </div>
                </form>

                <div class="userMenu">
                    <a href="/carrinho"><img src="/images/header/carrinho_vazio 1.svg" alt="User"></a>
                    <a href="/minha_conta"><img src="/images/header/do-utilizador (1) 1.svg" alt="Carrinho Vazio"></a>
                </div>

                <section id="dropdown">
                    <options id="option1"></options>
                    <options id="option2"></options>
                    <options id="option3"></options>
                </section>

            </div>
        </header>
