<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrinho de Compra</title>
    <link rel="stylesheet" href="/stylesheets/styles-carrinho-de-compra.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>
  <body>
    <header>
      <nav class="navegacao_topo">
        <ul>
          <li>Comumidade covid-19</li>
          <li>Ajuda</li>
          <li>Fale Conosco</li>
        </ul>
      </nav>

      <nav class="nav_menu">
        <ul>
          <a href="#"><li>Produtos</li></a>
          <a href="#"><li>Contato</li></a>
          <a href="#"><li>Sobre nós</li></a>
          <a href="#"><li>Carrinho</li></a>
          <a href="#"><li>Minha Conta</li></a>
          
          <li id="divBusca">
            <input type="text" id="txtBusca" placeholder="O que você esta procurando?"/>
          </li>

          <li class="icone_carrinho_de_compra">
            <img src="/images/icone_carrinho_de_compra.png" alt="icone_carrinho_de_compra"/>
          </li>

          <li class="icone_usuario">
            <img src="/images/icone_usuario.png" alt="icone_carrinho_de_compra" />
          </li>
        </ul>
      </nav>
    </header>