<link rel="stylesheet" href="/stylesheets/header.css">

<header>

    <div id="container">
        <div class="logo">
            <a href=""><img src="/images/header/Logo.svg" alt="Logo"></a>
        </div>

        <ul>
            <li><a href="">Produtos</a></li>
            <li><a href="">Contato</a></li>
            <li><a href="">Sobre nós</a></li>
            <li><a href="">Carrinho</a></li>
            <li><a href="">Minha Conta</a></li>
        </ul>

        <form action="">
            <div class="searchInput">
                <i><a href=""><img src="/images/header/lupa 1.svg" alt=""></a></i>
                <input type="text" name="search" id="search" placeholder="O que você está procurando?">
                <label for="search"></label>
            </div>
        </form>

        <div class="userMenu">
            <a href=""><img src="/images/header/carrinho_vazio 1.svg" alt="User"></a>
            <a href=""><img src="/images/header/do-utilizador (1) 1.svg" alt="Carrinho Vazio"></a>
        </div>
    </div>

</header>
