header {
    width: auto;
}

.navegacao_topo {
    text-align: right;
    background-color: #232323 ;
}

.navegacao_topo ul li {
    display: inline-flex;   
    color: white;
    font-size: 9px;
}

.nav_menu {
    text-align: center;
    background-color: #232323;
}

.nav_menu ul li {
    display: inline;
    color: white;
    text-align: justify;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 20px;
    position: relative;
    bottom: 6px;
}

.nav_menu ul {
    padding: 10px 0;
    text-align: center;
}

#divBusca{
    background-color:white;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    display: inline;
  }
  
  #txtBusca{
    background-color: transparent;
    padding-left: 25px;
    font-size: 16px;
    border: none;
    height: 10px;
    width: 10%;
  }

  .icone_carrinho_de_compra img {
    position: relative;
    width: 30px;
    top: 5px;
    
  }