<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <link rel="stylesheet" href="/stylesheets/carrinho.css">

            <main>
                <section>
                    <div>
                        <h1>Lista de Compras</h1>
                    </div>
                </section>
                
            </main>

        <%- include('./partials/footer') %>
    </body>

</html>