<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <link rel="stylesheet" href="/stylesheets/carrinho.css">

            <main class="container">
            <div class="container__lista__de__compra">
               <h1>Lista de Compras</h1>
               <div class="imagem">DISCO VINIL</div> 
               <h2 class="container__titulo__do__disco">Lp vinil the beatles abbey road</h2> 
               <ul class="container-lista">
                <li>qtd</li>
                <li>02</li>
                <li>preço</li>
                <li>R$ 100,00</li>
                <li>Subtotal</li>
                <li>R$ 200,00</li>
               </ul>
            </div>

            <div class="container__total__carrinho">
                Total Carrinho
            </div>
           
            </main>

            <%- include('./partials/footer') %>
    </body>
    </html>