<%- include('./partials/header')%>

    <main>
      <section class="titulo">
        <h1>Lista de Compras</h1>
      </section>

      <section class="caixa_1">

        <div class="disco">DISCO</div>

          <p>QTD</p>
          <p>Preço</p>
          <p>R$ 100,00</p>
          <p>Subtotal</p>
          <p>R$200,00</p>
          
          <button class="botao" value="botao" type="button">
            <img class="img_botao" src="/images/excluir.png" alt="excluir" />
          </button>
          
        <hr width = 50% align = right noshade class="linha_1">
      </section>

      <section class="titulo_cupom">
      <h2>CUPOM DE DESCONTO</h2>
      </section>

    <section class="buttons">
      <input class="codigo" type="text" id="código" placeholder="CÓDIGO">
      <button class="button_adicionar" inputmode="adicionar">ADICIONAR</button>
      <button class="button_comprando" inputmode="continar_comprando">CONTINUAR COMPRANDO</button>
    </section>

    </main>
  </body>
</html>
