<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <link rel="stylesheet" href="/stylesheets/carrinho.css">

            <main class="container">
            <div class="container__lista__de__compra">
               Lista de Compras
        
            </div>

            <div class="container__total__carrinho">
                Total Carrinho
            </div>
           
            </main>

            <%- include('./partials/footer') %>
    </body>
    </html>