<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <link rel="stylesheet" href="/stylesheets/carrinho.css">

            <main>
                <section class="conteudo">
                    <div class="destaques">
                        <h1 class="destaques__titulo">Lista de Compras</h1>
                    </div>
                    <div class="destaques__secindario caixa">
                        <h2 class="destaques__secundario caixa">LP VINIL THE BEATLES ABBEY ROAD</h2>
                        <ul class="destaques__categorias__lista">
                            <li class="destaques__categorias__item">Qtd</li>
                            <li class="destaques__categorias__item">Preço</li>
                            <li class="destaques__categorias__item">R$100</li>
                            <li class="destaques__categorias__item">Subtotal</li>
                            <li class="destaques__categorias__item">R$200,00</li>
                        </ul>
                    </div>
                </section>


                
            </main>

        <%- include('./partials/footer') %>
    </body>

</html>