<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <link rel="stylesheet" href="/stylesheets/index.css">
            <main>
                <div class="mainbanner">
                    <a href=""><img src="/images/index/1stbanner.svg" alt=""></a>
                </div>
                <br><br>
                <div class="destaques">
                    <h1>DESTAQUES</h1>
                </div>
                <div id="firstlineproducts">
                    <div class="prod1">
                        <img src="/images/produtos/metallica.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                    <div class="prod2">
                        <img src="/images/produtos/AmericanIdiot 4.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                    <div class="prod3">
                        <img src="/images/produtos/Linkin_Park_Hybrid_Theory 4.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                    <div class="prod4">
                        <img src="/images/produtos/mothership led.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                    <div class="prod5">
                        <img src="/images/produtos/metallica.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                </div>
                <div class="lancamentos">
                    <h1>LANÇAMENTOS</h1>
                </div>
                <div id="secondlineproducts">
                    <div class="prod1">
                        <img src="/images/produtos/metallica.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                    <div class="prod2">
                        <img src="/images/produtos/AmericanIdiot 4.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                    <div class="prod3">
                        <img src="/images/produtos/Linkin_Park_Hybrid_Theory 4.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                    <div class="prod4">
                        <img src="/images/produtos/mothership led.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                    <div class="prod5">
                        <img src="/images/produtos/metallica.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <h4>R$99,99</h4>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                    </div>
                </div>
                </div>
                <div class="altbanner">
                <a href=""><img class="bannerinf" src="/images/index/1stbanner.svg"
                    alt=""></a>
                </div>
                <div class="recentview">
                </div>
                <div class="buttongoup">
                    <br>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>