<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <link rel="stylesheet" href="/stylesheets/index.css">

            <main>
                
                <p>TESTE: PAGINA HOME</p>
                <!-- <img src="/images/1.jpg" alt="teste"> -->
                <p>Teste para alex</p>
                
            </main>

        <%- include('./partials/footer') %>
    </body>

</html>