<%- include('./partials/head') %>

    <body>
        <a id="top"></a>
        <%- include('./partials/header') %>
            <link rel="stylesheet" href="/stylesheets/index.css">
            <main>
<<<<<<< HEAD
                
                <p>TESTE: PAGINA HOME / TESTE FELIPE
                </p>
                <!-- <img src="/images/1.jpg" alt="teste"> -->
                <p>Teste para alex</p>
                
=======
                <br><br>
                <div class="mainbanner">
                    <a href=""><img src="/images/index/1stbanner.svg" alt=""></a>
                </div>
                <br><br><br>
                <div class="destaques">
                    <h1>DESTAQUES</h1>
                </div>
                <br><br>
                <div id="firstlineproducts">
                    <div class="prod1">
                        <img src="/images/produtos/metallica.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                        <div class="preco">
                        <h4>R$99,99</h4>
                        </div>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                        </div>
                        </div>
                    <div class="prod2">
                        <img src="/images/produtos/AmericanIdiot 4.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                    <div class="prod3">
                        <img src="/images/produtos/Linkin_Park_Hybrid_Theory 4.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                    <div class="prod4">
                        <img src="/images/produtos/mothership led.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                    <div class="prod5">
                        <img src="/images/produtos/metallica.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                </div>
                <br><br>
                <div class="lancamentos">
                    <h1>LANÇAMENTOS</h1>
                </div>
                <br><br>
                <div id="secondlineproducts">
                    <div class="prod1">
                        <img src="/images/produtos/metallica.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                        <div class="preco">
                        <h4>R$99,99</h4>
                        </div>
                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                        </div>
                        </div>
                    <div class="prod2">
                        <img src="/images/produtos/AmericanIdiot 4.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                    <div class="prod3">
                        <img src="/images/produtos/Linkin_Park_Hybrid_Theory 4.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                    <div class="prod4">
                        <img src="/images/produtos/mothership led.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                    <div class="prod5">
                        <img src="/images/produtos/metallica.svg" alt="">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                </div>
                </div>
                <br><br>
                <div class="altbanner">
                    <a href=""><img class="bannerinf" src="/images/index/1stbanner.svg" alt=""></a>
                </div>
                <br><br><br><br>
                <div class="recentview">
                    <h1>VISTO RECENTEMENTE</h1>
                </div>
                <br><br><br>
                <div class="listrecent">
                    <div class="recent1">
                        <img src="/images/produtos/metallica.svg" alt="" width="362" height="370">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                    <div class="recent2">
                        <img src="/images/produtos/AmericanIdiot 4.svg" alt="" width="362" height="370">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                    <div class="recent3">
                        <img src="/images/produtos/AmericanIdiot 4.svg" alt="" width="362" height="370">
                        <p><strong>Título</strong></p>
                        <p>Artista</p>
                        <div class="flexinterno">
                            <div class="preco">
                            <h4>R$99,99</h4>
                            </div>
                            <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                            </div>
                    </div>
                </div>
                <br><br>
                <div class="buttongoup">
                    <a href="#top"><img src="/images/index/arrow.svg" alt=""></a>
                </div>
                <br><br><br>
>>>>>>> 08384af5c51cfa039c357a8a687b1002b0d2609a
            </main>
            <%- include('./partials/footer') %>
    </body>
    </html>