<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <link rel="stylesheet" href="/stylesheets/index.css">

            <main>
                
<<<<<<< HEAD
=======
                <p>TESTE: PAGINA HOME / TESTE FELIPE
>>>>>>> 6f39656f310750c39556d088638c9ed2579b85e3
                
            </main>

        <%- include('./partials/footer') %>
    </body>

</html>