<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <link rel="stylesheet" href="/stylesheets/login.css">

            <main class="container">
                
                <div class="login">
                    <img class="img" src="images/login/avatar.svg" alt="login">
                    <div class="borda"></div>
        
                    <div class="cadastrado">
                        <h1>JÁ SOU CADASTRADO</h1>
                        <form method="post">
                            <label for="email">E-MAIL:</label>
                            <input type="email" id="email" class="input-padrao" required
                                placeholder="Digite seu e-mail">

                            <label for="senha">SENHA:</label>
                            <input type="senha" id="senha" class="input-padrao" required placeholder="Digite sua senha">

                            <button id="entrar">ENTRAR</button>
                            <a href="">
                                <p id="esqueci">ESQUECI MINHA SENHA</p>
                            </a>

                            <button id="codigo">Receber Código de Acesso</button>
                        </form>

                    </div>
                    <div class="borda"></div>
                    
                    <div class="naocadastrado">

                        <h1>NÃO SOU CADASTRADO</h1>
                        <h5>CADASTRE-SE AGORA! É RÁPIDO E SEGURO</h5>
                        <button id="cadastrese">CLIQUE E CADASTRE-SE</button>

                    </div>
                </div>


            </main>

            <%- include('./partials/footer') %>
    </body>

    </html>