<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <link rel="stylesheet" href="/stylesheets/index.css">

            <main>
                
                <p>TESTE: PAGINA MINHA CONTA</p>
                
            </main>

        <%- include('./partials/footer') %>
    </body>

</html>