<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <link rel="stylesheet" href="/stylesheets/not-found.css">

            <main>
                
                <p>ERRO 404, Página NÃO ENCONTRADA</p>
                
            </main>

        <%- include('./partials/footer') %>
    </body>

</html>