<%- include('./partials/head') %>    
<%- include('./partials/header') %>

        <!--CSS PRODUTO-INTERNO-->
        <link rel="stylesheet" href="/stylesheets/produtos-interno.css">

        <!--HTML PRINCIPAL PÃGINA PRODUTO-INTERNO--> 
        <main>

            <section>
                <div>CAIXA 1 </div>
                <div>CAIXA 1 </div>
                <div>CAIXA 1 </div>
            </section>
            
        </main>

<%- include('./partials/footer') %>    
