<%- include('./partials/head') %>    
<%- include('./partials/header') %>

        <!--CSS PRODUTO-INTERNO-->
        <link rel="stylesheet" href="/stylesheets/produtos-interno.css">

        <!--HTML PRINCIPAL PÁGINA PRODUTO-INTERNO--> 
        <main>

            <article class="navegacao">
                <div>PÁGINA INICIAL > LPS E DISCOS DE VINIL > LP VINIL THE BEATLES ABBEY ROAD</div>
            </article>

            <article class="container-1">

                <section>

                    <div class="imagens-pequenas">
                        <img src="/images/produtos_interno/img1.svg" alt="img1">
                        <img src="/images/produtos_interno/img2.svg" alt="img2">
                        <img src="/images/produtos_interno/img3.svg" alt="img3">
                    </div>

                    <div class="imagem-grande">
                        <img src="/images/produtos_interno/img_g.svg" alt="img3">
                    </div>

                    <section class="informacoes-venda">
                        <h3>LP VINIL THE BEATLES ABBEY ROAD</h3>
                        <div>MARCA: PINK FLOYD RECORDS <br> EAN: 5099902987613</div>

                        <div class="informacoes-preco">
                            
                            <h3>R$129,90</h3>
                            
                            <div class="informacoes-preco-qtd">
                                <p>QTD</p>
                                <img src="/images/produtos_interno/button_qtd1.svg" alt="-">
                                <p>01</p>
                                <img src="/images/produtos_interno/button_qtd2.svg" alt="+">
                            </div>
                            
                        </div>

                    </section>
                </section>

            </article>

            <article class="pagina-leva-superior">
                <div>CX3</div>
            </article>
            
        </main>

<%- include('./partials/footer') %>    
