<%- include('./partials/head') %>
<a id="top"></a>    
<%- include('./partials/header') %>

        <!--CSS PRODUTO-INTERNO-->
        <link rel="stylesheet" href="/stylesheets/produtos-interno.css">

        <!--HTML PRINCIPAL PÁGINA PRODUTO-INTERNO--> 
        <main>
            <article class="container-1">

                <section class="navegacao">

                    <div>PÁGINA INICIAL > LPS E DISCOS DE VINIL > LP VINIL THE BEATLES ABBEY ROAD</div>

                </section>

                <section>
    
                    <div class="imagens-pequenas">
                        <img src="/images/produtos_interno/img_gg.jpg" alt="img1">
                        <img src="/images/produtos_interno/img_1.jpg" alt="img2">
                        <img src="/images/produtos_interno/img_1.jpg" alt="img3">
                    </div>
                
                
                    <div class="imagem-grande">
                        <img src="/images/produtos_interno/img_gg.jpg" alt="imgg">
                    </div>

                    <section class="informacoes-venda">

                        <h3>LP VINIL THE BEATLES ABBEY ROAD</h3>

                        <h4>MARCA: THE BEATLES RECORDS <br> EAN: 5099902987613</h4>

                        <div class="informacoes-preco">
                        
                            <div class="informacoes-preco-qtd">
                                <h2>R$129,90</h2>
                                <p>QTD</p>
                                <img src="/images/produtos_interno/button_qtd1.svg" alt="-">
                                <p>01</p>
                                <img src="/images/produtos_interno/button_qtd2.svg" alt="+">
                            </div>

                            <div class="informacoes-preco-desconto">
                                <h2>R$110,40</h2>
                                <p>15%OFF</p>
                            </div>

                            <div class="informacoes-preco-parcelas">
                                <p>em <strong>6x SEM JUROS</strong> no cartão de crédito</p>
                            </div>

                            <div class="informacoes-preco-frete">
                                <p>Calcular Frete</p>
                                <img src="/images/produtos_interno/img_frete_localizacao.svg" alt="img_frete_localizacao">
                            </div>

                            <div class="informacoes-preco-form-cep">
                                <form action="">
                                    <label for="cep"></label>
                                    <input type="text" name="cep" id="cep" placeholder="Digite seu CEP"> 
                                </form>

                                <button type="submit">OK</button>
                            </div>

                            <div class="informacoes-preco-comprar">
                                <button type="submit">COMPRAR</button>
                                <p>Este produto é vendido e entregue por Vinil Countdown</p>
                            </div>
                            
                        </div>

                    </section>
                    
                </section>
                    
                <nav class="nav-tabs">
                    <ul>

                        <li> 
                            <input type="radio" name="tabs" class="rd_tabs" id="tab1" checked>
                            <label for="tab1">Descrição Geral </label>
                            <div class="content">
                                <article>
                                    
                                    <h2>Lp - Pink Floyd - The Dark Side Of The Moon</h2>
                                    <h4>(Disco de vinil, capa dupla, encarte, pôster, MP3, postais, lacrado, remasterizado, 180g)</h4>
                                    
                                    <div>
                                        <h3> Descricao: </h3>
                                        
                                        <p>
                                            É o oitavo álbum do Pink Floyd, gravado nos estúdios Abbey Road em Londres. Levou mais de oito meses para ser produzido, um tempo extremamente longo para aquela época. O álbum foi lançado em uma sessão de audição especial no planetário de Londres, em janeiro de 1.973. 
                                            Dark Side Of The Moon liderou a parada de álbuns nos EUA, onde fez uma carreira de 300 semanas. No Reino Unido, o disco chegou ao segundo lugar. 
                                            O primeiro compacto do álbum foi ‘Money’, que inclui um acompanhamento ritmico feito de sons de moedas e caixas registradoras sampleados (de uma forma bem engenharada por Roger Waters), atingiu o 13° lugar no Top 100 americano. 
                                            Para deixar os sons sampleados do dinheiro no compasso 7/4, a fita master teve de ser cortada e emendada novamente, usando uma régua para ter certeza da precisão das batidas. 
                                            Um segundo compacto extraído do álbum foi ‘Us And Them’, editado em outubro de 1973. 
                                            Esta prensagem em disco de vinil é muito especial para colecionadores, pois é uma edição premium com os LPs em 180g, com a capa gatefold (dupla), pôsters, postais e um card para baixar o MP3 de alta qualidade diretamente no site da gravadora.
                                        </p>  
                                    </div>

                                    <div>
                                        <h3> Músicos: </h3>
                                        
                                        <p>
                                            David Gilmour, vocal e guitarras
                                            Nick Mason, percução e efeitos
                                            Richard Wright, teclados e vocais
                                            Roger Waters, Baixo, vocal e efeitos
                                            Dick Perry, sax ('Us And Them', 'Money')
                                            Clare Torry, vocais ('The Great Gig In The Sky')
                                            Doris Troy, Leslie Duncan, Liza Strike, Barry St. John, backing vocals
                                        </p>  
                                    </div>

                                    <div>
                                        <h3> Músicas: </h3>
                                        
                                        <p>
                                            <strong> Lado A: </strong>  
                                            1 - Speak To Me
                                            2 - Breathe In The Air 
                                            3 - On The Run 
                                            4 - Time 
                                            5 - The Great Gig In The Sky 
                                        </p>

                                        <p>
                                            <strong> Lado B: </strong> 
                                            1 - Money 
                                            2 - Us And Them 
                                            3 - Any Colour You Like 
                                            4 - Brain Damage 
                                            5 - Eclipse
                                        </p>  
                                    </div>

                                </article>
                            </div>
                        </li>

                        <li> 
                            <input type="radio" name="tabs" class="rd_tabs" id="tab2">
                            <label for="tab2">Características </label>
                            <div class="content">
                                <article>
                                    <div>
                                        <h3> Peso: </h3>
                                        <p>0.450 kg </p>  
                                    </div>

                                    <div>
                                        <h3> Dimensão: </h3>
                                        <p>34 × 34 × 3 cm </p>  
                                    </div>

                                    <div>
                                        <h3> Gravadora: </h3>
                                        <p>BGM </p>  
                                    </div>
                                    
                                    <div>
                                        <h3> Mídia: </h3>
                                        <p>Disco de Vinil </p>  
                                    </div>
                                </article>
                            </div>
                        </li>  
                    </ul>
                </nav>
            </article>
        </main>
        
        <section id	="top_butt">
            <button><a href="#top"><img src="/images/produtos_interno/button_top.svg" alt="botao topo"></a></button>
        </section>
        

<%- include('./partials/footer') %>
