<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <link rel="stylesheet" href="/stylesheets/produtos.css">

            <main>
                
                <div id="containerProdutos">
                    <p class="busca">Você buscou por <strong>Dire Straits</strong></p>
                    <div id="containerInterno">
                        <aside>
                            <h3>Filtros</h3>
                            <ul class="artistas">
                                <h4>Artistas</h4>
                                <li><a href="">Dire Straits</a></li>
                            </ul>
                            <ul class="preco">
                                <h4>Preço</h4>
                                <li><input type="checkbox" name="" id=""> R$20 a R$50</li>
                                <li><input type="checkbox" name="" id=""> R$51 a R$100</li>
                                <li><input type="checkbox" name="" id=""> R$101 a 150</li>
                            </ul>
                            <ul class="caracteristicas">
                                <h4>Características</h4>
                                <li><input type="checkbox" name="" id=""> Novo</li>
                                <li><input type="checkbox" name="" id=""> Usado</li>
                                <li><input type="checkbox" name="" id=""> Reformado</li>
    
                            </ul>
                        </aside>
                        <main>
                            <div class="menus">
                                <p class="results"><strong>10</strong> produtos encontrados</p>
                                <div class="estoque">
                                    <input type="checkbox" name="" id="">
                                    <span><p>Em estoque</p></span>
                                </div>
                                <div class="ordenar">
                                    <p>Ordenar por:</p>
                                    <span><input type="text"></span>
                                </div>
                            </div>
                            <div class="resultados">
                                <div class="prod1">
                                    <img src="/images/produtos/metallica.svg" alt="">
                                    <div class="infos">

                                        <p><strong>Título</strong></p>
                                        <p>Artista</p>
                                        <h4>R$99,99</h4>
                                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="prod2">
                                    <img src="/images/produtos/AmericanIdiot 4.svg" alt="">
                                    <div class="infos">

                                        <p><strong>Título</strong></p>
                                        <p>Artista</p>
                                        <h4>R$99,99</h4>
                                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="prod3">
                                    <img src="/images/produtos/Linkin_Park_Hybrid_Theory 4.svg" alt="">
                                    <div class="infos">

                                        <p><strong>Título</strong></p>
                                        <p>Artista</p>
                                        <h4>R$99,99</h4>
                                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="prod4">
                                    <img src="/images/produtos/mothership led.svg" alt="">
                                    <div class="infos">

                                        <p><strong>Título</strong></p>
                                        <p>Artista</p>
                                        <h4>R$99,99</h4>
                                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="prod5">
                                    <img src="/images/produtos/metallica.svg" alt="">
                                    <div class="infos">

                                        <p><strong>Título</strong></p>
                                        <p>Artista</p>
                                        <h4>R$99,99</h4>
                                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="prod6">
                                    <img src="/images/produtos/AmericanIdiot 4.svg" alt="">
                                    <div class="infos">

                                        <p><strong>Título</strong></p>
                                        <p>Artista</p>
                                        <h4>R$99,99</h4>
                                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="prod7">
                                    <img src="/images/produtos/Linkin_Park_Hybrid_Theory 4.svg" alt="">
                                    <div class="infos">

                                        <p><strong>Título</strong></p>
                                        <p>Artista</p>
                                        <h4>R$99,99</h4>
                                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="prod8">
                                    <img src="/images/produtos/mothership led.svg" alt="">
                                    <div class="infos">

                                        <p><strong>Título</strong></p>
                                        <p>Artista</p>
                                        <h4>R$99,99</h4>
                                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                                    </div>
                                </div>      
                            </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </main>

        <%- include('./partials/footer') %>
    </body>

</html>