<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <link rel="stylesheet" href="/stylesheets/sobrenos.css">

            <main>

                <section class="coluna1">

                    <h1 class="titulo_coluna1">About Us</h1>
                    <p class="paragrafo_about">A Vinil Countdown é pioneira em discos do rock internacional de grandes
                        artistas que jamais serão esquecidas. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Tenetur, nesciunt sequi. Error officiis provident mollitia minima optio porro eius sunt nobis
                        totam non. Ex et incidunt inventore ab tenetur dicta?</p>

                </section>

                <section class="coluna2">
                    <h2 class="titulo_coluna2">Desenvolvimento da Page</h2>
                </section>

                <section class="coluna3">

                    <article class="caixas_text">
                        <h3 class="caixa_titulo">Wireframe / Layouts</h3>
                        <p>01</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non voluptates accusantium
                            reiciendis est ipsam ea necessitatibus quo eum expedita unde! Libero, nesciunt.
                            Necessitatibus praesentium totam ullam nobis aliquid quos doloribus!</p>
                    </article>

                    <article class="caixas_text">
                        <h3 class="caixa_titulo">Front End</h3>
                        <p>02</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis iste nostrum praesentium
                            deserunt, similique officia quidem ea totam assumenda repellat, quasi sequi velit quas!
                            Magni eius porro explicabo voluptas necessitatibus?</p>
                    </article>

                    <article class="caixas_text">
                        <h3 class="caixa_titulo">Back-End 1</h3>
                        <p>03</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus itaque est aspernatur quo
                            adipisci repellat officia, reiciendis nesciunt sed porro accusantium cum dolorem esse
                            consequuntur rem delectus! Quisquam, eligendi enim?</p>
                    </article>

                    <article class="caixas_text">
                        <h3 class="caixa_titulo">Back-End 2</h3>
                        <p>04</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, consectetur. Numquam
                            voluptatem laborum inventore quisquam vitae sapiente eius ut ab quia ratione ad optio
                            voluptatibus obcaecati hic exercitationem, cum cupiditate.</p>
                    </article>

                    <article class="caixas_text">
                        <h3 class="caixa_titulo">Back-End 3</h3>
                        <p>05</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste quo atque tenetur neque iure,
                            odit impedit, rerum magni enim architecto, exercitationem at laudantium. Mollitia quas amet
                            praesentium! Ullam, aliquam ssit?/p>
                    </article>

                </section>

            </main>

            <%- include('./partials/footer') %>
    </body>

    </html>