<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <link rel="stylesheet" href="/stylesheets/index.css">
            <main>
                <br>
                <br>
                <a href="produtos/1">PÁGINA PRODUTO INTERNO</a>
                <br>
                <br>
                <a href="/login">PÁGINA LOGIN</a>
                <br>
                <br>
                <a href="/pedido_confirmado">PÁGINA PEDIDO CONFIRMADO</a>
                <br>
                <br>



            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>