:root {
    --branco: #FFF; 
    --cabecalho: #292929;
    --rodape: #292929;
    --roboto: 'Roboto', 'Open Sans', sans-serif;
}


main p {
    background-color: rgb(43, 150, 226);
}

.destaques {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
    .destaques__titulo {
        display: flex;
        padding-left: 50px;
        margin: 50px auto;
    }
}

.destaques__titulo {
    color: var(--cabecalho);
    font-weight: 700;
    font-size: 2.2rem;
    font-family: var(--roboto);
}

.destaques__categorias__titulo {
    display: flex;
    justify-content: space-between;
    font-size: 1.0rem;
}

@media screen and (min-width: 1024px){
    .destaques__categorias__titulo {
        display: flex;
        padding-left: 300px;
        margin: 0px 0px 100px 0px ;
    }
}

.destaques__categorias__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    list-style-type: none;
}

@media screen and (min-width: 1024px){
    .destaques__categorias__lista {
        display: flex;
        padding-left: 300px;
        margin: 0px 0px 100px 0px ;
    }
}