:root {
  --branco: #fff;
  --cabecalho: #292929;
  --rodape: #292929;
  --botao_comprar: #29bfe0;
  --roboto: "Roboto", "Open Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 2fr;
  grid-auto-flow: row;
}

.container-disco-one {
  background: yellow;
  padding: 50px 0px 0px 35px;
}

.titulo__principal {
  font-size: 40px;
}

.imagem__beatles {
  padding: 35px 0px;
  float: left;
}

.titulo__disco__beatles {
  padding: 35px 0px;
  text-transform: uppercase;
}
