:root {
  --branco: #fff;
  --preto: #292929;
  --botao_comprar: #29bfe0;
  --botao_finalizar_compra: #36BB5B;
  --roboto: "Roboto", "Open Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 3fr 2fr;
  grid-auto-flow: row;
}

.container-disco-one, 
.formulario ,
.container-disco-two {
  padding: 50px 0px 0px 35px;
}

.titulo__principal {
  font-size: 40px;
}

.imagem__beatles, 
.imagem__beatles__two {
  padding: 35px 0px;
  float: left;
}

.titulo__disco__beatles, 
.titulo__disco__beatles__two,
.titulo__cupom {
  padding: 35px 0px;
  text-transform: uppercase;
}

.lista__disco__one,
.lista__disco__two {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 80px;
}

.form {
  grid-area: 3;
}

.formulario__botao {
  display: flex;
  gap: 15px;
  float: left;
  align-items: center;
  text-align: center;
}

.formulario__cupom, 
.formulario__cep {
  padding: 8px 10px;
  border: solid var(--preto);
  border-radius: 8px;
}

.botao__adicionar,
.botao__calcular {
  padding: 8px 12px;
  background: var(--preto);
  color: var(--branco);
  border-radius: 8px;
  text-transform: uppercase;
}

.botao__continuar__comprando {
  padding: 8px 100px;
  background-color: var(--botao_comprar);
  color: var(--branco);
  border-radius: 8px;
  text-transform: uppercase;
}

.botao__continue {
  display: flex;
  justify-content: end;
}

.containe-carrinho {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.total__carrinho {
  display: flex;
  justify-content: space-evenly;
}

.titulo__carrrinho {
  text-transform: uppercase;
  font-size: 30px;
}

.total__carrinho {
  padding: 50px 50px;
}

.carrinho-entrega {
  grid-area: 2/2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.entrega {
  padding-bottom: 50px;
  text-transform: uppercase;
}

.formulario-total-carrinho {
  display: flex;
  justify-content: center;
  
}

.botao__finalizar__compra {
  padding: 8px 80px;
  background-color: var(--botao_finalizar_compra);
  color: var(--branco);
  border-radius: 8px;
  text-transform: uppercase;
  font-family: var(--roboto);
  font-weight: 600;
}
