 /*CONFIGURACAO CSS GLOBAL*/
 
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

 * {
    box-sizing: border-box;
    text-decoration: none;
 }
 
 html, body {
    font-family: 'Roboto','Open Sans', sans-serif;
    font-weight: 500;
    background-color: #FFFFFF;
 }
 
  /*---------------------------- */ 

/* LINHA DE CÓDIGO PARA TESTE CSS, POR FAVOR APAGAR AO CODAR SEU CSS*/
header p {
   background-color: rgb(131, 226, 43);
}