.destaques {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

#firstlineproducts {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.lancamentos {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#secondlineproducts {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.prod1{
    background-color: #d6d6d6;
    border-radius: 5px;
}
.prod2{
    background-color: #d6d6d6;
    border-radius: 5px;
}
.prod3{
    background-color: #d6d6d6;
    border-radius: 5px;
}
.prod4{
    background-color: #d6d6d6;
    border-radius: 5px;
}
.prod5{
    background-color: #d6d6d6;
    border-radius: 5px;
}