.destaques {
    text-align: center;
    padding-top: 15px;
}

#1stlineproducts {
    display: flex;
    float: right;
}

.lancamentos {
    text-align: center;
}

#2stlineproducts {
    display: inline-flex;
}
.prod1{
    width: 209px;
}
.prod2{
    width: 209px;
}
.prod3{
    width: 209px;
}