.login {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin-top: 10vh;
    margin-left: 25%;
}

.cadastrado {
    width: 500px;
    text-transform: u;
}


form label,
form legend {
    display: block;
    width: 40vh; 
    font-size: 15px;
    margin-bottom: 20px;
}

.cadastrado button {
    background-color: #36BB36;
    color: white;
    margin-left: 0%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;
    border-color: #36BB36;
    padding: 0 5px 0 5px;
    
}

.container2 {
    margin: 5%;
}

.cadastrado button{
    background-color: #36BB36;
    color: white;
    margin-left: 0%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;
    padding: 0 5px 0 5px;
}
.naocadastrado button {
    background-color: #36BB36;
    color: white;
    margin-left: 0%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;
    border-color: #36BB36;
    padding: 0 5px 0 5px;
    
}


#senha, #email  {
    background-color: white;
    color: black;
    margin-left: 0%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;
    padding: 0 5px 0 5px;
}