.main-container{
    justify-content: flex-start;
    
}

.login {
    display: flex;
    height: 715px;
    margin-top: 5%;
    align-items: flex-start;
    justify-content: space-around;

}

.cadastrado {
    width: 500px;
    padding: 5%;
   
}

.naocadastrado {
    width: 500px;
    padding: 5%;
    
}

input {
    border-style: none;
    border: 1px solid #000000;
    margin-bottom: 20px;
    padding: 10px;

}

form label,
form legend {
    display: block;
    width: 40vh; 
    font-size: 15px;
    /* margin-bottom: 20px; */
}

button {
    border-style: none;
}

.cadastrado button {
    background-color: #36BB36;
    color: white;
    margin-left: 0%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;    
    padding: 0 5px 0 5px;    
}

.naocadastrado button {
    background-color: #36BB36;
    color: white;
    margin-left: 0%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;
    border-color: #36BB36;
    

    
}

#senha, #email  {
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;

}

.img {
 
    width: 210px;
    height: 210px;
    left: 74px;
    top: 409px;

    align-self: center;
}

.codigo button{
    background-color: #29BFE0;
}

.borda {
    width: 1px;
    height: 80%;
    background-color: black;
}

