.main-container{
    justify-content: flex-start;
}

.login {
    display: flex;
    height: 200vh;
    margin-left: 30%;
    align-items: flex-start;
}

.cadastrado {
    width: 500px;
    border-left: #D9D9D9 1px solid ;
  
}

.naocadastrado {
    width: 500px;
    border-left: #D9D9D9 1px solid;

}

form label,
form legend {
    display: block;
    width: 40vh; 
    font-size: 15px;
    margin-bottom: 20px;
}

.cadastrado button {
    background-color: #36BB36;
    color: white;
    margin-left: 0%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;
    border-color: #36BB36;
    padding: 0 5px 0 5px;
    
}

.naocadastrado button {
    background-color: #36BB36;
    color: white;
    margin-left: 0%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;
    border-color: #36BB36;

    
}

#senha, #email  {
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    width: 40vh;
    height: 4vh;
    border-radius: 15px;

}

.img {
    display: flex;
    margin: 2% 2%;
    padding: 5%;
}