/* LINHA DE CÓDIGO PARA TESTE CSS, POR FAVOR APAGAR AO CODAR SEU CSS*/
#containerInterno {
    display: grid;
    grid-template-columns: [fisrt]7.5rem 100%;
    grid-template-rows: [first]46.875rem;
    column-gap: 3.125rem;
    justify-content: space-around;
    align-items: center;
    
}

.lateral {
    background-color: #D9D9D9;
    height: 100%;
    width: 13.125rem;
    grid-column-start: 1;
    grid-column-end: 1;

}

.produtos {
    grid-column-start: 2;
    grid-column-end: 2;
}

.resultados {
    
    display: grid;
    grid-template-columns:  100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 10px;
}